collections/*
!collections/requirements.yml
roles/*
!roles/requirements.yml
my-vars.yml
vault
systems
automation/collection/scanning/nmap_output.txt
automation/collection/scanning/nmap_output.xml
automation/collection/scanning/ansible_inventory.yml
